<h1>How to embrass Robertaness  #</h1>

<p>STEP 1 - BE THE SASSY QUEEN YOU ARE  </p>
<p>STEP 2 - ALWAYS HELP THE NEXT PERSON UP </p>
<p>STEP 3 - ANOY SEB ASHTON WHENEVER POSSIBLE </P>
<P>STEP 4 - BE KIND AND HONEST
<P>STEP 5 - JUST BE YOUSELF AND IF POEPLE DONT LIKE IT SCREW THEM
<p>#RailsGirlsLDN</p>

<%= image_tag('BE YOU.png', width: '50%') %>
