<h1>Berta's Info #Imthebest</h1>
<p>Find me at my personal website WWW.ROBERTAISTHEBEST.COM </p>
<p>This Amazing App is called Roberta's Brilliant
<p>And it exists for the pupose of adding brilliant poeple to this App :)
<p>Go and Add a new Brilliant peole now #brilliantpeople #RailsGirlsLDN</p>

<%= image_tag('IMG_2955.jpg', width: '50%') %>
